@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}


::-webkit-scrollbar{
  display:  none;
}

.bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.25),
      rgba(117, 19, 93, 0.73)
    ),
    url(https://cdn.prod.website-files.com/5fad86e2327507cecea2d5e8/651d503725d2146cee7a830b_dbfd.jpeg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.bg1 {
  color: white;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://assets-global.website-files.com/5fad86e2327507cecea2d5e8/654235a8e453ecb84a59a883_pi-logo.jpeg);
  background-size: cover;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin-inline: auto;
}
.container1 {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
}
.container2 {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrollBarNone::-webkit-scrollbar {
  display: none;
}
.clip {
  border-radius: 0 50px 50px 50px;
}
.loader {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgb(138 52 142);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}
@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.gradient {
  background-image: linear-gradient(87deg, #84358e 40%, #473f89 100%);
}
.transPurple {
  background: rgba(48, 23, 56, 0.98);
}

.glass {
  backdrop-filter: blur(10px);
  background: rgba(117, 19, 93, 0.05);
  border: 2px solid rgba(22, 4, 18, 0.5);
}

.glassNav {
  backdrop-filter: blur(10px);
  background: rgba(17, 2, 14, 0.5);
  border-bottom: 2px solid rgba(40, 8, 33, 0.5);
}

.glass1 {
  backdrop-filter: blur(10px);
  background: rgba(17, 2, 14, 0.5);
  border: 2px solid rgba(40, 8, 33, 0.5);
}

.glass2 {
  backdrop-filter: blur(10px);
  background: rgba(17, 2, 14, 0.5);
  transform: 500ms all;
}
/* 
.glass2:hover{
  backdrop-filter: blur(0);
  background: #000;
} */
  
.dd {
  background-image: radial-gradient(to bottom, rgba(0, 0, 0, 1));
}
